html{
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

*, *::before, *::after{
  box-sizing: inherit;
}

.masthead{
  background-elements: url("../assets/subtle_white_mini_waves.png");
  background-size: 75px auto;
}
